<div class="field-wrapper">
  <div *ngIf="gameOver">GAME OVER</div>
  <div class="pressed-key">{{counter}}</div>
  <div class="pressed-key">{{error}}</div>
  <div class="pressed-key">Treasure Grabbed: {{treasureGrabbed}}</div>
  <div class="pressed-key">Snake direction: {{snakeDirection}}</div>
  <div class="pressed-key">{{key}}</div>
  <ng-container *ngFor="let row of array">
    <ng-container *ngFor="let column of row; trackBy: trackItem">
      <div class="field" [innerHTML]="column.length > 0 ? column : '&nbsp;'"></div>
    </ng-container>
    <br/>
  </ng-container>
</div>

<!--<div class="field-wrapper">
  <div *ngIf="gameOver">GAME OVER</div>
  <div class="pressed-key">{{counter}}</div>
  <div class="pressed-key">{{error}}</div>
  <div class="pressed-key">Treasure Grabbed: {{treasureGrabbed}}</div>
  <div class="pressed-key">Snake direction: {{snakeDirection}}</div>
  <div class="pressed-key">{{key}}</div>
  <ng-container *ngFor="let row of array">
    <ng-container *ngFor="let column of row; trackBy: trackItem">
      <div class="field" *ngIf="column.length > 0">
        <ng-container *ngFor="let element of column">
          <span>{{element}}</span>
          <br/>
        </ng-container>
      </div>
      <div class="field" *ngIf="column.length === 0" [innerHTML]="'&nbsp;'">
      </div>
    </ng-container>
    <br/>
  </ng-container>
</div>-->
