.field {
  display: inline-block;
  margin: 5px;
  width: 150px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background: black;
  color: white;
  padding: 10px;

  &-wrapper {
    margin-top: 4%;
    text-align: center;
  }
}

.pressed-key {
  height:20px;
}
